<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<script>
    window.addEventListener("DOMContentLoaded", function() {
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var file;

        document.getElementById('drawPic').addEventListener('click', function() {
            if(file == undefined){
                return;
            }

            fr = new FileReader();
            fr.readAsDataURL(file);
            fr.onload = function(){
                img = new Image();
                img.src =  fr.result;
                img.onload = function(){
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    canvas.width = parseFloat(document.getElementById('sw').value);
                    canvas.height = parseFloat(document.getElementById('sh').value);
                    <!--context.drawImage(img, parseFloat(document.getElementById('sx').value), parseFloat(document.getElementById('sy').value), parseFloat(document.getElementById('sw').value), parseFloat(document.getElementById('sh').value), parseFloat(document.getElementById('dx').value), parseFloat(document.getElementById('dy').value), parseFloat(document.getElementById('dw').value), parseFloat(document.getElementById('dh').value));-->
                    <!--context.drawImage(img, canvas.width/3, canvas.height/3, canvas.width/3, canvas.height/3, 0, 0, canvas.width/3, canvas.height/3);-->
                    context.drawImage(img, parseFloat(document.getElementById('sx').value), parseFloat(document.getElementById('sy').value), parseFloat(document.getElementById('sw').value), parseFloat(document.getElementById('sh').value), 0, 0, parseFloat(document.getElementById('sw').value), parseFloat(document.getElementById('sh').value));
                }
            }
        });

        document.getElementById('file').addEventListener('change', function(e) {
            file = e.target.files[0];

            <!--轉 imag 方法1:-->
            <!--frame.src = URL.createObjectURL(e.target.files[0]);-->

            <!--轉 imag 方法2:-->
            <!--tmpFile = new FileReader();-->
            <!--tmpFile.readAsDataURL(e.target.files[0]);-->
            <!--tmpFile.onload = function () {-->
                <!--frame.src = this.result-->
            <!--}-->
        });
    });
</script>

<body>
    <input id="file" type="file" accept="image/*" capture="camera" >
    <img id="frame">
    <hr>
    <button id="drawPic">drawPic</button>
    <canvas id="canvas"></canvas>
    <hr>
    <input id="sx" type="text" value = "0">
    <input id="sy" type="text" value = "0">
    <input id="sw" type="text" value = "300">
    <input id="sh" type="text" value = "150">
    <!--<input id="dx" type="text" value = "0">-->
    <!--<input id="dy" type="text" value = "0">-->
    <!--<input id="dw" type="text" value = "300">-->
    <!--<input id="dh" type="text" value = "150">-->
</body>
</html>